/* Responsive */
@media (max-width: 1090px) {
    .container {
        padding: 0 20px;
    }
    .about-area .about-me-box {
        padding: 40px 30px;
    }
    .about-area .about-me-box .img-box {
        width: 190px;
        height: 190px;
    }
    .about-area .about-me-box .infos {
        padding-top: 10px;
    }
    .about-area .about-me-box .infos h1 {
        font-size: 30px;
        line-height: 1.2;
    }
    .about-area .about-me-box .infos .about-btn {
        bottom: 25px;
    }
    .info-box {
        padding: 20px;
    }
    .info-box > img {
        width: 75%;
    }
    .info-box.about-services-box .icon-boxes {
        margin-bottom: 39px;
        margin-top: 31px;
    }
    .info-box .inner-profile-icons {
        padding: 16px;
    }
    .info-box .inner-profile-icons a {
        width: 62px;
        height: 62px;
    }
    .info-box .inner-profile-icons a i {
        font-size: 25px;
    }
    .info-box.about-contact-box .star-icon {
        width: auto;
    }
    .info-box.about-contact-box {
        padding-top: 74px;
    }

    .section-heading {
        font-size: 54px;
    }
    .section-heading img {
        width: 25px;
    }

    .service-area .service-sidebar .service-sidebar-inner {
        padding: 50px 24px;
        height: auto;
    }
    .service-area .service-sidebar .service-sidebar-inner ul {
        justify-content: center;
        gap: 114px;
    }
    .service-area .service-content-wrap .service-content-inner .service-item {
        width: 100%;
        padding-bottom: 30px;
    }
}

@media (max-width: 920px) {
    .about-area .container .row:first-child .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .about-area .about-me-box {
        margin-bottom: 24px;
    }
    .about-area .about-me-box .img-box {
        width: 224px;
        height: 224px;
    }
    .about-area .about-image-box {
        margin: auto;
    }
    .about-area .about-me-box .infos h1 {
        font-size: 36px;
        line-height: 1.2;
    }
    .info-box.about-client-box .clients .client-item {
        padding: 42px 10px 42px 10px;
    }
    .info-box.about-client-box .clients .client-item h2 {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .about-area .container > .row:nth-child(2) .blog-service-profile-wrap {
        /* display: grid !important; */
        /* grid-template-columns: 1fr 1fr; */
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about-area
        .container
        > .row:nth-child(2)
        .blog-service-profile-wrap
        > div {
        width: calc(50% - 12px);
    }
    .about-area
        .container
        > .row:nth-child(2)
        .blog-service-profile-wrap
        > div:nth-child(2) {
        order: 3;
    }
    .info-box.about-services-box .icon-boxes {
        gap: 40px;
    }
    .about-area .container > .row:nth-child(3) .col-md-6 {
        width: 100%;
    }
    .info-box.about-client-box {
        margin-bottom: 24px;
    }
    .section-heading {
        font-size: 36px;
        justify-content: center;
    }
    .profile-contact-credentials-wrap {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    .project-details-wrap .project-about-2,
    .project-details-wrap .project-infos-wrap {
        gap: 24px;
    }
    .breadcrumb-area .breadcrumb-content .section-heading br {
        display: none;
    }
}

@media (max-width: 810px) {
    .credential-area .credential-sidebar {
        width: 300px;
    }
    .credential-area .container .gx-row {
        gap: 40px;
    }
    .about-area .about-me-wrap {
        flex-direction: column;
        gap: 40px;
        align-items: center !important;
    }
    .project-details-wrap .project-infos-wrap {
        flex-direction: column;
        padding: 50px 24px 24px 24px;
    }
    .about-area .about-details .section-heading {
        margin-bottom: 40px;
    }
    .service-area .service-sidebar .service-sidebar-inner ul li {
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .header-area {
        padding: 20px 0;
    }

    .header-area .navbar {
        position: fixed;
        width: 100%;
        background: #0f0f0f;
        z-index: 15;
        overflow-x: hidden;
        /* height: 80px; */
        transform-origin: 50% 50% 0px;
        top: 0;
        left: 0;
        padding-top: 100px;
        padding-bottom: 24px;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        /* max-height: 0; */
        will-change: transform;

        /* transform: translate3d(0px, -11.4272px, 0px) scale(1, 1) scale(1, 0.945615); */
        transform: translate3d(0px, -300px, 0px) scale(1, 1) scale(1, 0.945615);
        transform: translate3d(0px, -300px, 0px) scale(1, 0.5) scale(1, 0.5);
        transition: 0.5s;
    }
    .header-area .navbar.active {
        opacity: 1;
        visibility: visible;
        /* height: min-content; */
        transform: translate3d(0px, 0, 0px) scale(1, 1) scale(1, 1);
        /* max-height: 90vh; */
    }
    .header-area .navbar .menu {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .header-area .navbar .menu li a {
        padding: 0;
    }
    .header-area .navbar .theme-btn {
        display: inline-block;
        margin-top: 48px;
    }
    .header-area .gx-row > .theme-btn {
        display: none;
    }

    .header-area .show-menu {
        display: flex;
    }
    .contact-area .gx-row,
    .credential-area .container .gx-row {
        flex-direction: column;
    }
    .contact-area .contact-form {
        margin-top: 50px;
    }
    .project-details-wrap .project-about-2 .left-details,
    .contact-area .contact-form,
    .credential-area .credential-sidebar {
        width: 100%;
    }

    .projects-area .container > .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .project-details-wrap .project-about-2,
    .projects-area .container > .row .col-md-8 > .d-flex {
        flex-direction: column;
    }
    .project-details-wrap .project-details-img {
        height: 300px;
    }
    .breadcrumb-area .breadcrumb-content .section-heading {
        font-size: 36px;
    }

    .service-area .service-sidebar .service-sidebar-inner {
        padding: 50px 24px;
        width: 100%;
        margin: auto auto 30px auto;
    }
    .service-area .service-sidebar .service-sidebar-inner ul {
        gap: 50px;
        max-width: 220px;
        margin: auto;
    }
    .service-area .col-md-8 > .section-heading {
        display: none;
    }
    .service-area .container > .section-heading {
        display: flex;
        margin-bottom: 30px;
    }

    .blog-details-area,
    .blog-area {
        padding-top: 40px;
    }
    .blog-details-area .blog-details-content,
    .blog-area .blog-items {
        padding-right: 0;
    }
    .blog-area .blog-items .blog-item .img-box {
        margin-bottom: 50px;
    }
    .blog-sidebar {
        margin-top: 50px;
    }
}
@media (max-width: 576px) {

    .navbar-brand h1 {
        font-size: 16px !important;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-brand img {
        max-width: 80%;
    }
    .navbar-toggler {
        border: none;
        background: none;
        padding: 0;
        transition: all 0.5s ease;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: none;
        position: relative;
        transition: all 0.5s ease;
        width: 30px;
        height: 20px;
    }

    .navbar-toggler-icon .first,
    .navbar-toggler-icon .second,
    .navbar-toggler-icon .third {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(45deg, #00f7ff, #ffffffc9);
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon .first {
        top: 0;
    }

    .navbar-toggler-icon .second {
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar-toggler-icon .third {
        bottom: 0;
    }

    .navbar-toggler.active .first {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggler.active .second {
        opacity: 0;
    }

    .navbar-toggler.active .third {
        transform: translateY(-8px) rotate(-45deg);
    }
    .resume-btn {
        display: none;
    }

    .about-area{
        padding-top: 25px !important;
    }
    .info-box .inner-profile-icons a {
        width: 40px;
        height: 40px;
    }
    .info-box .inner-profile-icons a i {
        font-size: 20px;
    }
    .info-box .infos h5 {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .info-box .infos h2 {
        font-size: 16px;
    }

    .about-area .about-edc-exp {
        padding: 25px;
    }
    .about-area .about-edc-exp ul li .date {
        font-size: 12px;
        margin-bottom: 7px;
    }
    .about-area .about-edc-exp ul li h3 {
        font-size: 16px;
    }
    .about-area .about-edc-exp ul li .type {
        font-size: 14px;
    }
    .about-area .about-edc-exp ul li + li {
        margin-top: 20px;
    }

    .about-area .about-details .section-heading {
        margin-bottom: 25px;
        font-size: 20px;
    }

    .about-area .about-details .about-details-inner {
        padding: 80px 25px 25px 25px;
    }

    .about-area .about-details .about-details-inner h4 {
        font-size: 18px;;
    }
    .about-area .about-details .about-details-inner p {
        font-size: 14px;
    }

    .shadow-box {
        height: auto !important;
    }

    .social-links li a {
        width: 50px !important;
        height: 50px !important;
        line-height: 55px !important;
        font-size: 28px;
    }

    .header-text{
        font-size: 18px;
    }

    .scroller__inner {
        padding-block: 10px !important;
    }
    .tag-list.scroller__inner{
        padding-top: 0 !important;
    }
    .scroller__inner img {
        width: 80px;;
    }

    :root {
        --card-width: 100px !important;
        --card-height: 100px !important;
    }

    .app {
        height: 300px !important;
    }
    .infoList {
        bottom: 10% !important;
    }

    .cards__wrapper .card {
        transform: translate(-50%, -100%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    }

    .info .name {
        font-size: 20px !important;
    }
    .info .description {
        --mg-left: 25px !important;
        font-size: 12px !important;
        padding-bottom: 0 !important;
    }

    .info .description::before {
        width: 12px !important;
        height: 3px !important;
    }

    .cardList__btn.btn--right {
        right: 0% !important;
    }
    .cardList__btn.btn--left {
        left: 0%;
    }
    .cardList__btn i {
        font-size: 20px !important;
    }
    .cardList__btn {
        top: -170% !important;
        transform: translateY(-170%) !important;

    }
    .info {
        margin-left: calc(var(--card-width) / 3.5) !important;
    }

    .footer-area{
        padding-top: 0 !important;
        padding-bottom: 25px !important;
    }

    .footer-area .footer-content .logo img {
        width: 230px;
    }
    .footer-area .footer-content .footer-menu {
        margin: 0px 0 25px 0;
        gap: 25px;
    }
    .footer-area .footer-content .copyright {
        font-size: 10px;
    }
    .carousel-item {
        height: 300px !important;
        background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.3),
            rgba(25, 135, 84, 0.3)
        ) !important;
    }
    .project-image{
        object-fit:contain !important;
    }
    .contact-infos .contact-details li {
        gap: 15px;
    }
    .contact-infos .contact-details li .icon-box {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 20px;
    }
    .contact-infos .contact-details li .right span {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .contact-infos .contact-details li .right h5 {
        margin-bottom: 5px;
    }
    .contact-form img {
        right: 25px;
        width: 25px;
    }
    .contact-form h4 {
        font-size: 20px;
    }
    .form-floating label{
        font-size: 12px;;
    }
    .contact-form form .input-group button {
        padding: 8px 15px;
    }

}
@media (max-width: 425px) {
}
