/* 
    -- Table of Content --

    * # Preloader
    * # Margin
    * # Header
    * # About
    * # Project
    * # Project Details
    * # Contact
    * # Footer
    * Responsive

*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

.gradient-text {
    background: linear-gradient(45deg, #00f7ff, #fff) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-pic-container.initial3d {
    transform: perspective(1000px) rotateY(10deg) rotateX(12deg);
    transition: transform 0.5s ease-out;
}

/* # Preloader */
.md-preloader {
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: block;
    position: fixed;
    background: rgb(15 23 42 / 20%);
    backdrop-filter: blur(6.6px);
    transition: all 2s
        linear(
            0 0%,
            0 1.8%,
            0.01 3.6%,
            0.03 6.35%,
            0.07 9.1%,
            0.13 11.4%,
            0.19 13.4%,
            0.27 15%,
            0.34 16.1%,
            0.54 18.35%,
            0.66 20.6%,
            0.72 22.4%,
            0.77 24.6%,
            0.81 27.3%,
            0.85 30.4%,
            0.88 35.1%,
            0.92 40.6%,
            0.94 47.2%,
            0.96 55%,
            0.98 64%,
            0.99 74.4%,
            1 86.4%,
            1 100%
        );
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wholesquare {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: bigSqrShrink 1s linear infinite;
    animation: bigSqrShrink 1s linear infinite;
}

.wholesquare .square {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #00f7ff;
}

.wholesquare .square.first {
    left: 0;
    top: 1rem;
}

.wholesquare .square.second {
    left: 1rem;
    top: 1rem;
    -webkit-animation: drop2 1s linear infinite;
    animation: drop2 1s linear infinite;
}

.wholesquare .square.third {
    left: 0;
    top: 0;
    -webkit-animation: drop3 1s linear infinite;
    animation: drop3 1s linear infinite;
}

.wholesquare .square.fourth {
    left: 1rem;
    top: 0;
    -webkit-animation: drop4 1s linear infinite;
    animation: drop4 1s linear infinite;
}

@-webkit-keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@-webkit-keyframes drop2 {
    0% {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }

    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes drop2 {
    0% {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }

    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes drop3 {
    0% {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }

    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes drop3 {
    0% {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }

    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes drop4 {
    0% {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }

    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes drop4 {
    0% {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }

    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.content-area {
    position: relative;
}

.content-area:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.content-area:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(
        180deg,
        #f8fafc,
        rgba(242, 202, 252, 0.11) 34.69%,
        rgba(250, 198, 252, 0.11) 44.06%,
        rgba(175, 183, 255, 0.11) 54.48%,
        rgba(142, 220, 200, 0.07) 64.9%,
        #f8fafc 97.95%
    );
}

/* # Margin */

ul,
ol {
    margin: 0;
}

.shadow-box {
    position: relative;
    background: linear-gradient(45deg, #4783c7, #e289cd50);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
}
.about-details-inner.shadow-box{
    padding: 0 25px 25px 25px;
}

/*  InfoBox */

.info-box .infos h5 {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.info-box .infos h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}
.info-box .about-btn {
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
}
.info-box:hover .about-btn {
    opacity: 1;
}
.info-box .inner-profile-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 22px;
    margin-bottom: 16px;
}
.info-box .inner-profile-icons.shadow-box:before {
    opacity: 0.1;
}
.info-box .inner-profile-icons.shadow-box:after {
    opacity: 0.5;
}
.info-box .inner-profile-icons a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: 0.3s;
    flex: none;
}
.info-box .inner-profile-icons a:hover {
    background: #ffffff;
    color: #0f0f0f;
}
.info-box .inner-profile-icons a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.1;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(40px);
}
.info-box .inner-profile-icons a i {
    font-size: 25px;
}


.info-box.about-contact-box {
    padding-bottom: 42px;
    padding-top: 83px;
}
.info-box.about-contact-box h2 {
    font-size: 44px;
    line-height: 52px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}
.info-box.about-contact-box h2 span {
    color: var(--primary_color);
}
.info-box.about-contact-box .about-btn {
    position: absolute;
    display: block;
    right: 30px;
    bottom: 35px;
    opacity: 0.2;
    transition: 0.3s;
}
.info-box.about-contact-box:hover .about-btn {
    opacity: 1;
}
.info-box.about-contact-box .star-icon {
    position: absolute;
    left: 30px;
    top: 0;
    opacity: 0.5;
    margin: 0;
}
.info-box.about-profile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-details-inner p{
   font-size: 14px;
}

/* # About */

.about-pic-container {
    position: relative;
    z-index: 9;
    will-change: transform;
    transition: box-shadow 0.3s linear;
    border-radius: 20px;
}

.about-pic-container.hover-in {
    transition: -webkit-transform 0.2s linear;
    transition: -moz-transform 0.2s linear;
    transition: -0-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.about-pic-container.hover-out {
    transition: -webkit-transform 0.2s linear;
    transition: -moz-transform 0.2s linear;
    transition: -0-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.about-image {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 195, 255, 0.2) 2px 0px 18px 0px !important;
    border-radius: 20px;
}

.about-area .about-credentials-wrap .banner {
    padding: 17px 25px;
}
.marquee {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 19px;
    overflow-x: hidden;
}

.marquee div {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    font-size: 12px;
}

.about-area .about-credentials-wrap .banner .marquee b {
    color: #fff;
    font-weight: 400;
}
.about-area .about-credentials-wrap .banner .marquee img {
    display: inline-block;
    margin: 0 5px;
}
.about-area .about-credentials-wrap > .gx-row > * {
    flex: 1;
    width: 50%;
}

.about-area .about-image-box {
    /* width: 370px; */
    flex: none;
    padding: 24px;
    border-radius: 30px;
    max-width: 100%;
}
.about-area .about-image-box .image-inner {
    background: linear-gradient(90deg, #3c58e3 -15%, #c2ebff 58%, #5ab5e2 97%);
    border-radius: 30px;
}
.about-area .about-image-box img {
    display: block;
    border-radius: 30px;
}
.about-area .about-details {
    flex: 1;
}
.about-area .about-details .about-details-inner {
    padding: 90px 25px 25px 25px;
    position: relative;
}
.about-area .about-details .about-details-inner img {
    position: absolute;
    left: 25px;
    top: 0;
}
.about-area .about-details .about-details-inner h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
}
.about-area .about-details .about-details-inner p {
    color: #ffffff;
    line-height: 25px;
    margin: 0;
    font-size: 14px;
}
.about-area .about-edc-exp {
    padding: 30px;
}
.about-area .about-edc-exp h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 23px;
}
.about-area .about-edc-exp ul {
    padding: 0 0 0 15px;
}
.about-area .about-edc-exp ul li + li {
    margin-top: 32px;
}
.about-area .about-edc-exp ul li .date {
    color: #bcbcbc;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}
.about-area .about-edc-exp ul li h3 {
    font-size: 18px;
    color: #fff;
    opacity: 0.9;
    margin-bottom: 7px;
}
.about-area .about-edc-exp ul li .type {
    color: #bcbcbc;
    font-size: 14px;
    opacity: 0.6;
    font-weight: 400;
    margin: 0;
}

.main-aboutpage .about-area .about-contact-box {
    padding-top: 102px;
}

/* # Credentials */
.credential-area {
    padding-top: 80px;
}
.credential-area .gx-row {
    gap: 80px;
}
.credential-area .credential-sidebar {
    width: 370px;
    flex: none;
    position: sticky;
    top: 15%;
}
.credential-area .credential-sidebar .shadow-box {
    padding: 24px 24px 34px 24px;
}
.credential-area .credential-sidebar::after {
    opacity: 0.25;
}
.credential-area .credential-sidebar .img-box {
    background: linear-gradient(90deg, #3c58e3 -15%, #c2ebff 58%, #5ab5e2 97%);
    border-radius: 30px;
    margin-bottom: 40px;
}
.credential-area .credential-sidebar .img-box img {
    display: block;
    margin: auto;
    border-radius: 30px;
}
.credential-area .credential-sidebar p {
    color: #bcbcbc;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 34px;
}
.credential-area .credential-sidebar h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 26px;
}
.credential-area .credential-sidebar .social-links {
    gap: 10px;
    margin-bottom: 36px;
}
.credential-area .credential-sidebar .social-links li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    line-height: 55px;
    color: #fff;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.01)
    );
    transition: 0.3s;
    text-align: center;
}
.credential-area .credential-sidebar .social-links li a:hover {
    background: #ffffff;
    color: #0f0f0f;
}
.credential-area .credential-sidebar .theme-btn {
    width: 100%;
}

.credential-area .credential-content .credential-about {
    padding-bottom: 110px;
}
.credential-area .credential-edc-exp h3,
.credential-area .credential-content .credential-about h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.credential-area .credential-content .credential-about h3 {
    margin-bottom: 37px;
}
.credential-area .credential-content .credential-about p {
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    line-height: 1.56;
    margin-bottom: 30px;
}
.credential-area .credential-content .credential-about p:last-child {
    margin-bottom: 0;
}
.credential-area .credential-experience,
.credential-area .credential-education {
    margin-bottom: 85px;
}
.credential-area .credential-edc-exp h3 {
    margin-bottom: 22px;
}
.credential-area
    .credential-edc-exp
    .credential-edc-exp-item
    + .credential-edc-exp-item {
    margin-top: 58px;
}
.credential-area .credential-edc-exp .credential-edc-exp-item h5 {
    color: #bcbcbc;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
}
.credential-area .credential-edc-exp .credential-edc-exp-item h4 {
    font-size: 18px;
    color: var(--primary_color);
}
.credential-area .credential-edc-exp .credential-edc-exp-item h6 {
    font-size: 14px;
    color: #bcbcbc;
    opacity: 0.6;
    font-weight: 400;
}
.credential-area .credential-edc-exp .credential-edc-exp-item p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.8;
    line-height: 1.56;
}
.credential-area .skills-wrap h3 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.credential-area .skills-wrap .skill-items {
    grid-template-columns: 1fr 1fr;
}
.credential-area .skills-wrap .skill-item {
    width: 50%;
}
.credential-area .skills-wrap .skill-item .percent {
    color: #bcbcbc;
    opacity: 0.6;
    display: block;
    font-weight: 500;
    margin-bottom: 9px;
}
.credential-area .skills-wrap .skill-item .name {
    color: #ffffff;
    opacity: 0.9;
    font-size: 18px;
    margin-bottom: 4px;
}
.credential-area .skills-wrap .skill-item p {
    color: #bcbcbc;
    opacity: 0.6;
    font-size: 14px;
    margin: 0;
}
.credential-area .awards-wrap {
    padding-top: 100px;
}
.credential-area .awards-wrap.skills-wrap .skill-items {
    grid-template-columns: 1fr;
}
.credential-area .awards-wrap.skills-wrap .skill-item {
    width: 100%;
}

/* # Contact */

.contact-form img {
    position: absolute;
    top: 0;
    right: 50px;
}
.contact-form h4 {
    color: #fff;
}
.contact-form h4 span {
    color: var(--primary_color);
}
.contact-form form .input-group textarea,
.contact-form form .input-group input {
    width: 100%;
    border: none;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    border-radius: 10px !important;
    padding: 17px 20px;
    font-size: 14px;
    display: block;
    color: #fff;
}

.contact-form form .input-group textarea:focus,
.contact-form form .input-group input:focus {
    outline: none;
    box-shadow: none;
}
.contact-form form .input-group button {
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 16px 30px;
}

.contact-infos h4 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.contact-infos .contact-details li {
    gap: 24px;
}

.contact-infos .contact-details li .icon-box {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    flex: none;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #ffffff;
}
.contact-infos .contact-details li .icon-box::after,
.contact-infos .contact-details li .icon-box::before {
    border-radius: 10px;
}
.contact-infos .contact-details li .right span {
    display: block;
    color: #bcbcbc;
    font-size: 12px;
    opacity: 0.5;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 7px;
}
.contact-infos .contact-details li .right h5 {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.8;
    font-weight: 500;
    margin-bottom: 7px;
}
.contact-infos .contact-details li .right h5:last-child {
    margin-bottom: 0;
}
.social-links {
    gap: 20px;
}
.social-links li a {
    width: 82px;
    height: 82px;
    display: block;
    text-align: center;
    line-height: 92px;
    color: #ffffff;
    border-radius: 50%;
    font-size: 32px;
    transition: 0.3s;
}
.social-links li a:hover {
    background: #ffffff;
    color: #0f0f0f;
}
.social-links li a:before,
.social-links li a:after {
    border-radius: 50%;
}

/* # Footer */

.footer-area .footer-content .footer-menu {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-area .footer-content .footer-menu li a {
    color: #676767;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    font-weight: 600;
    transition: 0.3s;
}
.footer-area .footer-content .footer-menu li a:hover {
    color: #000;
}
.footer-area .footer-content .copyright {
    margin: 0;
    color: #727272;
    font-size: 14px;
    font-weight: 500;
}
.footer-area .footer-content .copyright span,
.footer-area .footer-content .copyright span a {
    color: #000;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100.3%);
    }
}
